{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	
	<title>Asset Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.bundle.min.js' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<script>
	function assetAppreciation(){
		var amount = document.getElementById('amount').value;
		var appreciation_rate = document.getElementById('appreciation_rate').value;
		var months = document.getElementById('months').value;
		var appreciation = (amount * (appreciation_rate * .01)) / months;
		var cumulative_value = ((amount/months) + appreciation).toFixed(2);
		cumulative_value = cumulative_value.toString().replace(/\B(?=(\d{3})+(?!\d))/g,",");
		document.getElementById('cumulative_value').innerHTML="Cumulative_value = ksh" + cumulative_value;

	}
</script>
</head>
<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'dashboard' %}">AMS</a>
        </div>
          <ul class="nav navbar-nav">
          
        <ul class="nav navbar-nav navbar-left">
            <li><a href='http://127.0.0.1:8000/admin'><span class="glyphicon glyphicon-log-in"> Admin Login</span></a></li></ul>
            <li><a href="{% url 'asset' %}"><span class="glyphicon glyphicon-user"></span> Asset</a></li>
            <li><a href="{% url 'register_asset' %}"><span class="glyphicon glyphicon-user"></span>Calculate </a></li>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
        </ul>
    </ul>

      </div>


    </nav>

<body>
	<form class="form-group" method="POST">
        {% csrf_token %}
        
	<input id="amount" type="number" min="1" max="1000000" onchange="assetAppreciation()"{{form.amount|as_crispy_field}}>
	<input id="appreciation_rate" type="number" min="0" max="100" value="10" step=".1" onchange="assetAppreciation()"{{form.appreciation_rate|as_crispy_field}}>
	<input id="months" type="number" min="1" max="72" value="1" step="1" onchange="assetAppreciation()"{{form.months|as_crispy_field}}>
	<h2 id="cumulative_value"></h2>
</form>
</body>
</html>
